@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 33% 95%;
    --foreground: 185 100% 15%;
    --card: 0 0% 100%;
    --card-foreground: 185 100% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 185 100% 15%;
    --primary: 185 100% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 174 36% 64%;
    --secondary-foreground: 185 100% 15%;
    --muted: 174 20% 85%;
    --muted-foreground: 185 50% 25%;
    --accent: 17 100% 91%;
    --accent-foreground: 185 100% 15%;
    --destructive: 17 70% 68%;
    --destructive-foreground: 0 0% 98%;
    --border: 174 20% 85%;
    --input: 174 20% 90%;
    --ring: 185 100% 23%;
    --radius: 0.5rem;
  }

  .darkx {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
